data/*.csv linguist-generated=true
data/*.json linguist-generated=true
data/*.pt linguist-generated=true
src/data/*.csv linguist-generated=true
src/data/*.json linguist-generated=true
src/data/*.pt linguist-generated=true